.header {
    font-family: "Press Start 2P", system-ui;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
}

.header-title {
    align-items: center;
    justify-content: center;
    display: flex;
}

.header-title img {
    height: 65px;
    margin-right: 10px;
}

.header-title h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--color-pacman);
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-pacman);
}

.header-menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}